<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.cafebazaar.referrersdk">

    <queries>
        <package android:name="com.farsitel.bazaar"/>
    </queries>

    <application>
        <receiver android:name=".receiver.ReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.farsitel.bazaar.referrer.get" />
                <action android:name="com.farsitel.bazaar.referrer.consume" />
            </intent-filter>
        </receiver>
    </application>

</manifest>